@import url("style.css");
@import url("index.css");
@import url("./assest/csss/bootstrap.min.css");

@import url("./assest/csss/magnific-popup.css");
@import url("./assest/csss/nice-select.css");

.star-filled {
  color: gold;
  font-size: 18px;
}
/* Preloader.css */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Customize the spinner's appearance */
  border-top: 4px solid #3498db; /* Customize the spinner's appearance */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Add a rotating animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn,
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_menu,
.slicknav_menu * {
  box-sizing: border-box;
}
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em;
  line-height: 1.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
  background: 0 0;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:after,
.slicknav_menu:before {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
.slicknav_nav li,
.slicknav_nav ul {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_menu {
  zoom: 1;
  font-size: 16px;
  background: #4c4c4c;
  padding: 5px;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
}
.slicknav_nav {
  clear: both;
  color: #fff;
  margin: 0;
  font-size: 0.875em;
}
.slicknav_nav ul {
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
.slicknav_nav a {
  text-decoration: none;
  color: #fff;
}
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.slicknav_brand {
  float: left;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}



.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.activepage{
  background-color: #EFD4B9;
}